body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
    background: linear-gradient(270deg,#6a11cb,#2575fc,#6a11cb);
    backgroun-size:600% 600%;
    animation:gradientAnimation 20s ease infinite;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

button {
    padding: 10px;
    cursor: pointer;
    border: #0000ff;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background:#ff6699;
    animation:bounce 1s;
    transform:scale(1.05);
}

button:glow {
    background: #0000ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.dark-mode {
    background-color: #99ccff;
    color: white;
}

.dark-mode .container {
    background: #444;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform:translateY(0);
    }
    40% {
        Transform:translateY(-20px);
    }
    60% {
        transform:translateY(-10px);
    }
}
.typewriter {
    overflow:hidden;
    border-right:.15em solid #000;
    white-space:nowrap;
    margin:0 auto;
    letter-spacing: .15em;
    animation:typing 3.5s steps(40,end),blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}
@keyframes blink-caret {
    from,to{border-color:transparent}
    50%{border-color:black;}
}

.fade-in {
    opacity:0;
    animation:fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}
